<section class="top">
  <h1>
    ズボラで毎日忙しいけど、栄養バランスが気になるあなたへ
  </h1>
  <p>
    写真を撮るだけで、AIがあなたの食生活の偏りを自動解析。<br>
    忙しいズボラさんのための簡単・時短食事管理アプリ。
  </p>
  <%= link_to "今すぐ無料で始める", new_user_registration_path, class: "btn-primary" %>
  <%= link_to "使い方を見る", "#features", class: "btn-secondary" %>
</section>

<section id="features">
  <h2>アプリの特徴</h2>
  <ul>
    <li>
      <strong>写真を撮るだけで簡単記録</strong> <br>
      食事ログは写真を撮るだけなので、気軽に続けられる。
    </li>
    <li>
      <strong>栄養の偏りを自動解析</strong> <br>
      AIが外食率やジャンクフード率を自動で計算して見える化してくれます。
    </li>
    <li>
      <strong>AIの改善アドバイス</strong> <br>
      『今週は野菜多めの週にしましょう』など具体的に提案
    </li>
  </ul>
</section>
